[submodule "Vulkan-Headers"]
	path = Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "mojoshader-Plus"]
	path = MojoShader
	url = https://github.com/CXUtk/mojoshader-Plus.git
