[submodule "MojoShader"]
	path = MojoShader
	url = https://github.com/icculus/mojoshader
	branch = upstream
[submodule "Vulkan-Headers"]
	path = Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "mojoshader-Plus"]
	path = mojoshader-Plus
	url = https://github.com/CXUtk/mojoshader-Plus.git
